body {
  background-color: #f3f5fb;
}

#app {
}

p {
  margin: 0;
}

header {
  display: grid;
  /* fix */
  margin-left: 10%;
  margin-bottom: 70px;
}

.card-conteaner {
  width: 80%;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

.card-body {
  width: 250px;
  height: 275px;
  border: solid black;
  background-color: #fff;
  border-radius: 25px;
}

.card-thumbnail {
  background-color: #21cca3;
  width: 100px;
  height: 100px;
  border-radius: 90px;
}
