body {
  background-color: #f3f5fb;
}

#app {
}

p {
  margin: 0;
}

header {
  display: grid;
  /* fix */
  margin-left: 10%;
  margin-bottom: 70px;
}

.card-conteaner {
  width: 80%;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
  .card-body {
    width: 250px;
    height: 275px;
    padding: 10px;
    background-color: #fff;
    border-radius: 25px;
    display: grid;
    grid-template-rows: 120px 30px 30px 50px 40px;
    justify-items: center;
    align-content: center;
    .card-thumbnail {
      background-color: #21cca3;
      width: 100px;
      height: 100px;
      border-radius: 90px;
      justify-content: center;
      align-content: center;
      p {
        color: #fff;
        text-align: center;
        font-size: 40px;
      }
    }
    .card-icons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      justify-content: center;
      align-content: center;
      .icon-conteaner {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: #21cca3;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
          filter: invert(100%);
        }
      }
    }
    .card-expand {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
